<div class="col-xs-12 col-lg-12">
	<ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" interval="5000" [keyboard]="false"
		[pauseOnHover]="true" [wrap]="true">
		<ng-template ngbSlide id="firstSlide">
			<div class="picsum-img-wrapper">
				<img src="../../assets/overview/banner-1.jpg" alt="Banner 1">
			</div>
			<div class="carousel-caption">
				<h3>GAY FOR PLAY</h3>
				<p>HYSTERICAL TV-SHOWS</p>
				<button class="btn btn-sm btn-warning">START WATCHING</button>
			</div>
		</ng-template>
		<ng-template ngbSlide id="secondSlide">
			<div class="picsum-img-wrapper">
				<img src="../../assets/overview/banner-2.webp" alt="Random second slide">
			</div>
			<div class="carousel-caption">
				<h3>ON MY WAY OUT</h3>
				<p>NEW DOCUMENTARY</p>
				<button class="btn btn-sm btn-warning">WATCH NOW!</button>
			</div>
		</ng-template>
		<ng-template ngbSlide id="thirdSlide">
			<div class="picsum-img-wrapper">
				<img src="../../assets/overview/banner-3.jpg" alt="Random third slide">
			</div>
			<div class="carousel-caption">
				<h3>AIR</h3>
				<p>NEW MOVIE</p>
				<button class="btn btn-sm btn-warning">WATCH NOW!</button>
			</div>
		</ng-template>
		<ng-template ngbSlide id="fourthSlide">
			<div class="picsum-img-wrapper">
				<img src="../../assets/overview/banner-4.jpg" alt="Banner 4">
			</div>
			<div class="carousel-caption">
				<h3>DRAG S.O.S.</h3>
				<p>COMMING SOON</p>
				<button class="btn btn-sm btn-warning">SUBSCRIBE NOW!</button>
			</div>
		</ng-template>
	</ngb-carousel>
	<br />
	<div class="panel panel-default">
		<div class="panel-body panel-class">SERIE</div>
	</div>
	<owl-carousel [options]="carouselOptions" [items]="serieMetadata"
		[carouselClasses]="['owl-theme', 'row', 'sliding']">
		<div class="item" *ngFor="let se of serieMetadata;let i= index">
			<div style="margin-left: 20px!important;">
				<img class="slide-image" src="{{se.LargeVisual}}">
				<div class="slide-text">
					<h4>{{se.Title}}</h4>
				</div>
			</div>
		</div>
	</owl-carousel>
	<br />
	<div class="panel panel-default">
		<div class="panel-body panel-class">FILM</div>
	</div>
	<owl-carousel [options]="carouselOptions" [items]="flimMetadata"
		[carouselClasses]="['owl-theme', 'row', 'sliding']">
		<div class="item" *ngFor="let se of flimMetadata;let i= index">
			<div style="margin-left: 20px!important;">
				<img class="slide-image" src="{{se.LargeVisual}}">
				<div class="slide-text">
					<h4>{{se.Title}}</h4>
				</div>
			</div>
		</div>
	</owl-carousel>
	<br />
	<div class="panel panel-default">
		<div class="panel-body panel-class">DOCUMENTARY</div>
	</div>
	<owl-carousel [options]="carouselOptions" [items]="documentaryMetadata"
		[carouselClasses]="['owl-theme', 'row', 'sliding']">
		<div class="item" *ngFor="let se of documentaryMetadata;let i= index">
			<div style="margin-left: 20px!important;">
			<img class="slide-image" src="{{se.LargeVisual}}">
			<div class="slide-text">
				<h4>{{se.Title}}</h4>
			</div>
		</div>
		</div>
	</owl-carousel>
	<br />
	<div class="panel panel-default">
		<div class="panel-body panel-class">SHOW</div>
	</div>
	<owl-carousel [options]="carouselOptions" [items]="showMetadata"
		[carouselClasses]="['owl-theme', 'row', 'sliding']">
		<div class="item" *ngFor="let se of showMetadata;let i= index">
			<div style="margin-left: 20px!important;">
			<img class="slide-image" src="{{se.LargeVisual}}">
			<div class="slide-text">
				<h4>{{se.Title}}</h4>
			</div>
			</div>
		</div>
	</owl-carousel>
	<br />
	<div class="panel panel-default">
		<div class="panel-body panel-class">OTHERS</div>
	</div>
	<owl-carousel [options]="carouselOptions" [items]="unknownMetadata"
		[carouselClasses]="['owl-theme', 'row', 'sliding']">
		<div class="item" *ngFor="let se of unknownMetadata;let i= index">
				<div style="margin-left: 20px!important;">
			<img class="slide-image" src="{{se.LargeVisual}}">
			<div class="slide-text">
				<h4>{{se.Title}}</h4>
			</div>
		</div>
		</div>
	</owl-carousel>

</div>