<meta name="viewport" content="width=device-width, initial-scale=1.0">  
<div class="container-fluid" id="app-container" [ngClass]="{'dark-mode' : status}">
	<nav class="navbar navbar-expand-lg bg-light mb-1 nav-bar-top" [ngClass]="{'bg-dark' : status}">
		<a class="navbar-brand main-menu" [routerLink]="'/overview'"><img alt="Logo" src="../assets/logo.webp"
				height="13%" width="13%"></a>

		<button class="navbar-toggler" [ngClass]="{'toggler-color' : status}" type="button"
			(click)="isMenuCollapsed = !isMenuCollapsed">&#9776;</button>

		<div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" [routerLink]="'/videos'"
						(click)="isMenuCollapsed = true">Videos</a></li>
				<li class="nav-item"><a class="nav-link" [routerLink]="'/help'" (click)="isMenuCollapsed = true">Help
						Center</a></li>
				<li class="nav-item"><a class="nav-link" [routerLink]="'/extra'"
						(click)="isMenuCollapsed = true">Extra</a></li>
				<li class="nav-item"><a class="nav-link" (click)="clickEvent()" (click)="isMenuCollapsed = true">Dark
						Mode</a></li>
			</ul>
		</div>

		<form class="form-inline my-2 my-lg-0">
			<p>Vinaya</p>

		</form>

	</nav>
	<router-outlet></router-outlet>
	<br />
	<br />
	<footer>
		<a href="">Privacy Policy</a> &nbsp;&nbsp;<label>|</label> &nbsp;&nbsp;
		<a href="">About Us</a>
	</footer>
</div>