
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0px 0px 2px;
	padding: 4px 16px;
	height: 80px;
	z-index: 1;
}
.container-fluid{
	padding: 0px 1px;
}
#app-container{
	background-color: white;
	color: black;
}
#app-container.dark-mode {
  color: white;
  background-color: black;

}
.toggler-color{
	color : white;
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #E02085;
  color: white;
  height: 50px;
}
footer a{
color: white;
}
@media only screen and (max-width : 768px) {


   .navbar-toggler {
    align-content: right;
    }
  .navbar {
    height: 60px;
    overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0px 0px 2px;
	padding: 4px 16px;
	
	z-index: 1;
  }
}

#app-container .owl-carousel .owl-item img {
    display: block;
    width: 75%; }